{{#vhosts}}
server {
    server_name {{vhost}};
    listen 80 {{#default_server}}default_server{{/default_server}};
    listen [::]:80 {{#default_server}}default_server{{/default_server}};

    location ~ /.well-known {
        allow all;
        auth_basic off;
        root /ssl/wk/;
    }
{{#certname}}

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{vhost}};
    listen 443 ssl http2 {{#default_server}}default_server{{/default_server}};
    listen [::]:443 ssl http2 {{#default_server}}default_server{{/default_server}};

    ssl_session_timeout 1d;
    #ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    ssl_prefer_server_ciphers on;

    # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
    add_header Strict-Transport-Security max-age=15768000;

    # OCSP Stapling ---
    # fetch OCSP records from URL in ssl_certificate and cache them
    ssl_stapling on;
    ssl_stapling_verify on;

{{^ssl_modern}}
    # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
    ssl_dhparam /data/dhparam.pem;

    # intermediate configuration. tweak to your needs.
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
{{/ssl_modern}}
{{#ssl_modern}}
    # modern configuration. tweak to your needs.
    ssl_protocols TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
{{/ssl_modern}}
    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate /ssl/letsencrypt/live/{{certname}}/chain.pem;
    ssl_certificate /ssl/letsencrypt/live/{{certname}}/fullchain.pem;
    ssl_certificate_key /ssl/letsencrypt/live/{{certname}}/privkey.pem;


    location ~ /.well-known {
        allow all;
        root /ssl/wk/;
    }
{{/certname}}

    {{#auth}}
    auth_basic "password protected";
    auth_basic_user_file /data/auth_{{vhost}};
    {{/auth}}
    {{#max_body_size}}
    client_max_body_size {{max_body_size}};
    {{/max_body_size}}
    location / {
        proxy_pass {{#remote_ssl}}https{{#remote_ssl}}{{^remote_ssl}}http{{/remote_ssl}}://{{#remote}}{{remote}}{{/remote}}{{^remote}}172.17.0.1{{/remote}}:{{port}};
        {{#x-ha-access}}proxy_set_header x-ha-access "{{x-ha-access}}";{{/x-ha-access}}
    }
}
{{/vhosts}}
