{{#vhosts}}
{{vhost}} {
    proxy / {{#remote}}{{remote}}{{/remote}}{{^remote}}172.17.0.1{{/remote}}:{{port}} {
      transparent
      websocket
    }
    log stdout
    errors stdout
}
{{/vhosts}}
{{#raw_config}}
{{line}}
{{/raw_config}}