{{#vhosts}}
{{vhost}} {
{{#directory}}
    root {{directory}}
{{/directory}}
{{^directory}}
{{#paths}}
    proxy {{path}} {
      transparent
      websocket
    }
{{/paths}}
    proxy / {{#remote}}{{remote}}{{/remote}}{{^remote}}172.17.0.1{{/remote}}:{{port}} {
      transparent
      websocket
    }
{{/directory}}
{{#user}}
  {{#pwd}}
    basicauth / {{user}} {{pwd}}
  {{/pwd}}
{{/user}}
    log stdout
    errors stdout
}
{{/vhosts}}
{{#raw_config}}
{{line}}
{{/raw_config}}