{{#vhosts}}
{{vhost}} {
{{#directory}}
    root {{directory}}
{{/directory}}
{{^directory}}
    proxy / {{#remote}}{{remote}}{{/remote}}{{^remote}}172.17.0.1{{/remote}}:{{port}} {
      transparent
      websocket
    }
{{/directory}}
{{#user_pwd}}
  basicauth / {{user}} {{pwd}}
{{/user_pwd}}
    log stdout
    errors stdout
}
{{/vhosts}}
{{#raw_config}}
{{line}}
{{/raw_config}}